/* Scss Document */

@import"common";
$blue:#29bde0;



@mixin abs ($top:60px) {
    position: absolute;
    top: $top;
}


body {

    >div {
        background: #eee;
    }
}

header {
    img {
        margin: 2%;
    }
}

.main {
    overflow: hidden;
    flex-direction: column;
    transform: translateX(0);
    transition: transform 500ms ease;
    position: relative;
    width: 100%;
    &-part1 {
        width: 70%;
        height: 42px;
        background: #fff;
        margin-top: 10%;
        padding: 0 5%;
    }
    .slide {
        overflow: hidden;
        width: 80%;
        >ul {
            width: 300%;
            transition: all 0.5s;
            >li {
                float: left;
                width: 33.333333%;
            }
        }
        input[name="sildeInput"] {
            display: none;
        }
        .bottom {
            width: 40px;
            position: absolute;
            bottom: 2px;
            left: 50%;
            transform: translate(-50%, 0);
            label {
                width: 10px;
                height: 10px;
                background: #c4c4c4;
                border-radius: 50%;
            }
        }
    }
    &-part2 {
        flex-direction: column;
        justify-content: center;
        margin: 10% 0;
        background: #fff;
        width: 100%;
        position: relative;
        >p {
            font-size: 11px;
            margin: 5px;
        }

        >div,
        >hr,

        >button {
            margin: 8px 0
        }
        hr {
            background: orange;
        }
        button {
            background: $blue;
            height: 40px;
            width: 70%;
            color: #fff;
        }
        label {
            @include abs(50%);
            right: 1%;
            height: 0;
            width: 0;
            border-left: 16px solid orange;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
        }
        .label2 {
            left: 1%;
            border-left: none;
            border-right: 16px solid orange;
        }
    }
}



#sildeInput1:checked~ul,
#leftInput1:checked~ul {
    margin-left: 0;
}

#sildeInput2:checked~ul,
#leftInput2:checked~ul {
    margin-left: -100%;
}

#sildeInput3:checked~ul {
    margin-left: -200%;
}


#menu {
    display: none;

    &:checked~.main2 {
        left: 0;
    }
    &:checked~.main {
        transform: translateX(65vw);
        transition: transform 500ms ease;
    }
}

.main2 {
    position: fixed;
    top: 60px;
    left: -70vw;
    width: 70vw;
    color: $blue;
    background: #fff;
    height: 100%;
    box-shadow: #a0a1a2 -2px 0 10px inset;
    >div {
        border-bottom: $border;
        padding: 10px 8px;
        .center {
            width: 25vw
        }
    }
}