@import'common';
@import'task4-1';

@mixin flex($ali:center, $jus:center, $w:100%, $h:60px) {
    display: flex;
    align-items: $ali;
    justify-content: $jus;
    width: $w;
    height: $h;
}

@mixin abs ($top:60px) {
    position: absolute;
    top: $top;
}

#main2 {
    width: 100%;
}

body>div {
    overflow-x: hidden;
}

header {
    height: 120px;
    width: 100%;
    @extend .center2;

    >div {
        width: 100%;
    }
}

.a {
    background: #cfdfea;
    position: relative;
    @include flex ($w: 100%, $jus:space-between);
    height: 50px;
    color: #000;

    >div {
        margin-left: 5%;
    }

    .s {
        @include abs;
        top: 100%;
        left: 10%;
        border-top: 10px solid #cfdfea;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        z-index: 1;
    }
}

#bgimg2 {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translatey(-50%);
    height: 100vh;
    z-index: 10000;
    right: -100%;
    background: url(../img/日出.png ) no-repeat center center;
    background-size: cover;
}

.main {
    .choose {
        position: relative;
    }

    .img {
        height: 20px;
        width: 20px;
        @extend .center-x;
        top: 90px;
        visibility: hidden;
    }

    .img-click {
        @extend .img;
        visibility: visible;
    }
}