@import'common';
body>div {
    background: #eee;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.main {
    width: 100%;
    @extend .center2;
    >div,
    >p {
        width: 90%;
        margin-top: 5%;
        background: #fff;
        text-align: center;
        @extend .size-m;
        @extend .center;
    }
    >p {
        height: 50px;
        text-align: center;
        @extend .center3;
        box-shadow: 2px 2px 2px #aaa
    }
    .part1 {
        height: 100px;
        @extend .center3;
        >div {
            margin: 0 10%;
            @extend .center;
        }
    }
    .part2 {
        position: relative;
        height: 200px;
        @extend .center2;
        >div:nth-child(1) {
            margin-top: 50px;
        }
        .span1 {
            font-size: 12px;
            color: $blue;
        }
        .range {
            position: absolute;
            top: 70%;
            width: 90%;
            height: 40px;
            @extend .center;
            >input,
            >div {
                display: inline-block;
            }
            .span {
                font-size: 25px;
                color: $blue;
                margin: 0 2%;
            }
        }
        #player {
            border: $border;
            width: 30px;
            height: 30px;
            background: #eee;
            color: $blue;
        }
    }
}
@mixin track {
    height: 3px;
    border-radius: 1px;
    /*将轨道设为圆角的*/
    width: 100%;
    background: $blue;
}
@mixin thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 40px;
    margin-top: -10px;
    /*使滑块超出轨道部分的偏移量相等*/
    background: #fff;
    border-radius: 5px;
    /*外观设置为圆形*/
    border: solid 2px $blue;
    /*设置边框*/
}
input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px;
    /*这个属性设置使填充进度条时的图形为圆角*/
    width: 65%;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    @include track;
}
input[type=range]::-moz-range-track {
    @include track;
}
input[type=range]::-webkit-slider-thumb {
    @include thumb;
}
input[type=range]::-moz-range-thumb {
    @include thumb;
}
footer {
    background: #eee;
}