@import'common';

main {

    justify-content: auto;

    .main {
        width: 320px;
        padding-bottom: 75px;
    }

    .choose {
        width: 85px;
        height: 85px;
        box-sizing: border-box;
        border: 3px solid #fff;
        display: inline-block;
        margin: 20px 10px;

        >div {
            @extend .center3;
        }

        .choose1 {
            @extend .size-m;
            color: #000;
            background: #fae1c2;
            height: 70%;
            font-size: 18px;
            box-sizing: border-box;
            border-bottom: 1px solid #fff;
        }

        .choose2 {
            color: #fff;

            height: 30%;
            @extend .size-s;
            background: #fae1c2;
            border: none;
            font-size: 14px;
        }
    }
}