                flex-direction: row;
                @extend .center2;
                position: relative;
            }
            width: inherit;
        }
        @extend .center-x;
    }
}
.choose1 {
    height: 15px;
    a {
        z-index: 1;
        margin: 15px;
        border-left: 5px solid transparent;
    }
    display: none;
    left: 10%;
    .a {
        @extend .size-m;
        background: #eee;
        color: $blue;
        background: #fff;
        .div1 {
            width: 60%;
            font-size: 25px;
            width: 100%;
            border-right: 5px solid transparent;
            background: #EEE;
        }
        font-size: 12px;
        border: $border;
        >div {}
        background: #ccc;
        .btn {
            display: none;
            .div2 {}
            .main1 {
                z-index: 10000;
                z-index: 100;
                padding-left: 15%;
            }
            top: $top;
            &::before {
                footer {
                    #bgimg,
                    #bgimg2 {
                        display: flex;
                        width: 1px;
                        width: 90%;
                        width: 80px;
                        height: 70%;
                        position: absolute;
                        border-top: 10px solid #b9e9f5;
                        overflow-y: auto;
                        color: #fff;
                        @extend .center3;
                    }
                }

                #bgimg2 {
                    left: 0;
                    .icon {}
                    .s {
                        color: #000;
                        width: 90%;
                        max-width: 100%;
                        width: 100%;
                        height: 30%;
                        height: 100vh;
                        padding: 25px 0;
                        >div {}
                        left: 14%;
                    }
                    height: 30px;
                    top: 7px;
                    background-size: cover;
                    width: 125%;
                    >div {}
                    input {}
                    content: '';
                }

                width: 100%;
                &:hover .img {
                    @import'common';
                    color: $blue;
                    .line {
                        height: 140px;
                        width: 15px;
                        @extend .center3;
                    }
                    transform: translatex(-50%);
                    .show {}
                    display: none;
                    bottom: 0;
                    @extend .size-m;
                }

                .img {}

                >p {
                    width: 100%;
                    top: 50%;
                    .hide {
                        background: #fff;
                        background: #93adb3;
                        border-radius: 50%;
                        @include abs;
                        >div {
                            border-right: 18px solid #93adb3;
                            border-top: 8px solid transparent;
                            @extend .btn;
                            background: url(../img/wolf.png ) no-repeat center center;
                            margin: 12px;
                            .btn-click {
                                @extend .center3;
                            }
                            font-weight: bold;
                            @include abs;
                            position: absolute;
                            @mixin abs ($top:60px) {
                                @extend .center2;
                                margin-left: 10%;
                                background: url(../img/wolf.png ) no-repeat center center;
                                margin-top: 5px;
                            }
                        }
                    }
                    margin-right: 5%;
                    width: 95%;
                }

                @include abs(85px);
                height: 1em;
                background: #eee;
                transform: translatey(-50%);
                display: none;
                &-div {
                    height: 70px;
                    background: #b9e9f5;
                    .btn::before {
                        overflow: hidden;
                        .input1 {
                            .choose2 {}
                            background: $blue;
                            border: 2px solid #ccc;
                            width: 0;
                            left: -100%;
                        }
                    }
                    >div>div {
                        height: 80px;
                        position: absolute;
                        .main {
                            width: 1em;
                        }
                        position: relative;
                        width: 40%;
                        fill: currentColor;
                        width: 70%;
                    }
                    position: absolute;
                    background: #f5c97b;
                }

                background: #83b09a;
                position: relative;
                width: 100%;
                .input2 {
                    padding-left: 10%;
                    >div {}
                    border: 2px solid #fff;
                    width: 100%;
                    #main {
                        visibility: visible;
                        border-bottom: 8px solid transparent;
                    }
                    position: absolute;
                    border-right: 18px solid $blue;
                    vertical-align: -0.15em;
                }

                .p {}

                color: #fff;
                position: relative;
                height: 40px;
                display: inline-block;
            }
            width: 15px;
            width: 351px;
            padding: 10px;
        }
        margin: 0 5%;
        white-space: normal;
        input {
            visibility: hidden;
            body {
                height: 0;
                width: inherit;