@import'common';

.btn {
    color: #fff;
}

;

img {
    width: 52%;

    max-width: 65vh;
}

body {
    div {
        >div {
            @extend .center2;
            @extend .center-y;

            span {
                @extend .center3;
                width: 25px;
                height: 25px;
                background: #eee;
                border: 3px solid #fff;
                z-index: 5;
                border-radius: 50%;
                position: absolute;
                top: -15px;
                color: $blue
            }

        }
    }
}